.examples .items {
  position: relative;
  overflow: scroll;
  width: 100%;
  white-space: nowrap;
  overscroll-behavior: none;
  user-select: none;
  height: 400px;
}
.examples .container {
  display: block;
  position: relative;
  width: 100%;
}
.examples .item {
  overflow: hidden;
  /* margin: 18px 12px 30px 0; */
  width: 180px;
  height: 180px;
  line-height: 180px;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #ccc;
}
.examples .items.horizontal {
  height: auto;
}
.examples .items.horizontal .item {
  display: inline-block;
  margin: 5px;
}
.examples .items.vertical .item {
  margin: 5px;
  width: auto;
}
.examples .buttons {
  position: relative;
  height: 40px;
}
.examples .prev, .examples .next {
  position: absolute;
  top: 0;
  z-index: 10;
  border: 1px solid #ccc;
  padding: 5px 20px;
  font-weight: bold;
}

.examples .prev {
  left: 0px;
}

.examples .next {
  right: 0px;
}
/* infinite */
.examples .items.infinite {
  height: 600px;
}
.examples .item.item1 {
  height: 250px;
  line-height: 250px;
}
.examples .item.item2 {
  height: 230px;
  line-height: 230px;
}
.examples .item.item3 {
  height: 270px;
  line-height: 270px;
}
.examples .item.item4 {
  height: 215px;
  line-height: 215px;
}
